<!DOCTYPE html>
<html lang="en">
<h1 class="text-center">CALCULADORA</h1>
<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">

            <%- include('../partials/form'); %>
        </div>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>